<a href="https://colab.research.google.com/github/Devarthran/ICT202_Assign_1/blob/main/ICT_202_Assessment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Loading

In [18]:
# Added check to install pandas if missing, sped up 'Run all' codeblocks when refreshing
try:
  import pandas as pd
  #print(pd.__version__) #Not required
except ModuleNotFoundError:
  !pip install pandas

In [19]:
import pandas as pd
import io
import numpy as np

# Added dataset to Github to prevent constant uploading issues.
url ='https://raw.githubusercontent.com/Devarthran/ICT202_Assign_1/main/dataset_information.csv'

df = pd.read_csv(url)
df # Uncomment to print dataset

,participant number,Q214,Q225,Q227,Q228,Q231,Q233,Q454,Q578,Q589,...,Q137,Q139,Q174,Q164,Q457,Q196,Q187,Q197,Q195,Class
0,1,3,1,3,2,1,1,0,0,0,...,1,0,0,0,0,0,0,0,0,High_risk
1,2,1,1,1,1,1,1,2,1,0,...,1,1,0,0,0,0,0,0,1,High_risk
2,3,3,2,4,3,2,1,0,1,0,...,1,0,0,1,1,0,0,1,1,High_risk
3,4,1,1,2,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,High_risk
4,5,2,1,1,2,1,1,0,0,0,...,1,0,0,0,0,0,0,0,0,High_risk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,175,1,1,1,1,1,1,0,0,0,...,0,0,0,1,0,0,0,0,0,Low_risk
175,176,1,1,1,1,5,5,0,0,0,...,0,0,0,0,0,0,0,0,0,Low_risk
176,177,1,3,3,2,3,3,0,0,0,...,1,0,0,0,0,0,0,0,0,High_risk
177,178,3,4,3,4,2,1,2,0,0,...,1,0,1,1,0,1,1,1,1,High_risk
178,179,1,1,3,1,1,2,2,0,0,...,0,1,1,1,1,0,0,0,0,High_risk

# Data Preprocessing
## Steps taken
1. Encode class labels
2. Feature Selection using Recursive Feature Elimination (RFE)

In [20]:
# Encoding class labels
from sklearn.preprocessing import LabelEncoder
class_le = LabelEncoder()
# Applies numerical labels to the Class feature
df['Class'] = class_le.fit_transform(df['Class'].values)
# Sets all High_risk rows to 1 and Low_risk to 0
df['Class'] = df['Class'].apply(lambda x: 0 if x==1 else 1 if x==0 else x)

# Simplified for consideration, replaces 3 lines with 1 line of code.
# Replaces Class labels with numerical representation
#df['Class'] = df['Class'].replace({'High_risk':1,'Low_risk':0,'Nan':0})

# Uncomment to print df
df

,participant number,Q214,Q225,Q227,Q228,Q231,Q233,Q454,Q578,Q589,...,Q137,Q139,Q174,Q164,Q457,Q196,Q187,Q197,Q195,Class
0,1,3,1,3,2,1,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
1,2,1,1,1,1,1,1,2,1,0,...,1,1,0,0,0,0,0,0,1,1
2,3,3,2,4,3,2,1,0,1,0,...,1,0,0,1,1,0,0,1,1,1
3,4,1,1,2,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,2,1,1,2,1,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,175,1,1,1,1,1,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
175,176,1,1,1,1,5,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
176,177,1,3,3,2,3,3,0,0,0,...,1,0,0,0,0,0,0,0,0,1
177,178,3,4,3,4,2,1,2,0,0,...,1,0,1,1,0,1,1,1,1,1
178,179,1,1,3,1,1,2,2,0,0,...,0,1,1,1,1,0,0,0,0,1

In [21]:
# Feature Selection using RFE
# Seperating features from target class
x = df.drop('Class', axis=1)
y = df['Class']

from sklearn.model_selection import train_test_split

# Creating train/test split at 70/30 with a set random state for reproducable results.
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.7, random_state=0)
x_train.shape, x_test.shape

((125, 24), (54, 24))

In [22]:
from sklearn.ensemble import RandomForestClassifier

classifier_rf = RandomForestClassifier(random_state=0, n_jobs=-1, max_depth=5,
                                       n_estimators=100, oob_score=True)

In [23]:
%%time
# Cell magic to test performance
classifier_rf.fit(x_train, y_train)

# checking the oob score
classifier_rf.oob_score_

CPU times: user 257 ms, sys: 20.3 ms, total: 277 ms
Wall time: 253 ms

0.848

# Design Methodology
## Ideas
- Random Forest Model